body {
    max-width: 980px;
    margin: auto;
}
header h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 87, 34);
}
footer h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #009688;
}
.bees {
    display: flex;
    justify-content: space-between;
}
#bees-info {
    background: rgba(0, 0, 0, 0.33);
}
.a, .b, .c {
    width: 330px;
    border: 1px solid #959595;
    display: block;
    height: 350px;
}
@media (max-width: 1020px) {
    .bees {
        display: flex;
        flex-direction: column;
    }
}
